body {
  .makeStyles-root-125{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      // border: 1px dashed red;
      width: 20%;
      margin-top: 10%;
      #standard-basic {
        width: 20vw;
      }
      .form-item {
        margin-top: 10%;
      }
      button {
        width: 20%;
      }
    }
  }
}