body {
  .makeStyles-root-125{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      // border: 1px dashed red;
      width: 20%;
      margin-top: 10%;
      #standard-basic {
        width: 20vw;
      }
      .form-item {
        margin-top: 10%;
      }
      button {
        width: 20%;
      }
    }
  }
  .dash {
    display: flex;
    flex-direction: column;
    align-items: center;
    .card-container {
      justify-content: center;
      width: 80%;
      display: flex;
      flex-direction: row;
      .card {
        margin: 0 5%;
        width: 40%;
      }
    }
    .simple-select {
      width: 40%;
    }
  }
}